body {
    margin: 50px;
}

/* Comentario chachi */


.c2 {
    background-color: #C24204;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    width: 50%;
}

div.c4{
	background-color: #A2A2A2;
	color: blue;
	padding: 15px;
	border-radius: 10px;
	width: 50%;
	text-align: center;
}

#holita{
	background-color: #A2A2A2;
	color: blue;
	padding: 10px;
	border-radius: 10px;
	width: 50%;
	margin: 10px;
}

