#container{
	width: 90%;
	margin: 0 auto;

}

#menu{
	float: left;
	width: 20%;
}

#contenido{
	float: left;
	width: 50%;
}

#cabecera{
	margin: 0 auto;
	}


h1{
	color: blue;
	font-size: 4em;

}

span#miau{
	color:red;
}